@use '../../styles/base';

// NGO

.ngoPhoto {
	position: relative;
	grid-column: span 2;
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
}

.ngoInfo {
	grid-column: span 4;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 3);
}

.ngoData {
	grid-column: span 3;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.ngoDataContainer {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 4);
}

// Program

.programTitle {
	margin-bottom: calc(base.$gap / 2);
	grid-column: span 12;
}

.programPhoto {
	position: relative;
	grid-column: span 3;
	width: 100%;
	aspect-ratio: 1 / 1;
}

.programContent {
	grid-column: span 9;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.programInfo {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.programHighlights {
	display: flex;
	gap: base.$gap;

	div {
		padding-right: base.$gap;
		border-right: 1px solid base.$color-secondary-red;
	}

	div:last-of-type {
		padding-right: 0;
		border-right: none;
	}
}

.programPods {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: calc(base.$gap / 2);
}

.pod {
	grid-column: span 3;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 3);

	p {
		font-size: 0.8rem;
	}
}

.podImage {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}

// tablet

@media screen and (max-width: 1024px) {
	.pod {
		grid-column: span 6;
	}

	// Program

	.programPhoto {
		grid-column: span 4;
	}

	.programContent {
		grid-column: span 8;
	}

	.programHighlights {
		flex-direction: column;
		gap: calc(base.$gap / 4);

		div {
			padding-right: 0;
			border-right: none;
			padding-bottom: calc(base.$gap / 4);
			border-bottom: 1px solid base.$color-secondary-red;
		}

		div:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

// mobile

@media screen and (max-width: 768px) {
	// NGO

	.ngoPhoto {
		grid-column: span 6;
	}

	.ngoInfo {
		grid-column: span 12;
	}

	.ngoData {
		grid-column: span 12;
	}

	// Program

	.programPhoto {
		grid-column: span 12;
	}

	.programContent {
		grid-column: span 12;
	}

	.pod {
		grid-column: span 12;
	}
}
