@use '../../styles/base';

.blogPhoto {
	grid-column: span 4;
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}

.blogText {
	grid-column: span 8;

	h3 {
		margin-bottom: calc(base.$gap / 3);
	}
}

.text {
	p {
		margin-bottom: 1rem;
	}

	a {
		color: base.$color-primary-orange;
	}
}

.date {
	font-size: 0.8rem;
}

// tablet

@media screen and (max-width: 1024px) {
	.text {
		columns: 1;
	}
}

// mobile

@media screen and (max-width: 768px) {
	.blogPhoto {
		grid-column: span 12;
	}

	.blogText {
		grid-column: span 12;

		h3 {
			margin-bottom: calc(base.$gap / 4);
		}
	}
}
