// colors

$color-primary-orange: #e36414;
$color-primary-red: #9a031e;
$color-primary-gray: #e1e1e1;

$color-secondary-orange: #fb8b24;
$color-secondary-red: #360c25;

// margins, padding, gap

$magin: 6.25rem;
$gap: 3.75rem;
