@use 'base';

.buttons-row {
	display: flex;
	gap: calc(base.$gap / 4);
}

button {
	padding: 0.625rem 1.25rem;
	font: inherit;
	background: none;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: calc(base.$gap / 6);
	color: black;
}

button:hover {
	background: black;
	color: white;

	.button-arrow::after {
		border-color: white;
	}
}

.button-orange {
	background-color: base.$color-primary-orange;
	color: white;
	border: base.$color-primary-orange 1px solid;

	.button-arrow::after {
		border-color: white;
	}
}

.button-orange:hover {
	background: none;
	color: base.$color-primary-orange;

	.button-arrow::after {
		border-color: base.$color-primary-orange;
	}
}

.button-red {
	background-color: base.$color-primary-red;
	color: white;
	border: base.$color-primary-red 1px solid;

	.button-arrow::after {
		border-color: white;
	}
}

.button-red:hover {
	background: none;
	color: white;
	border-color: white;

	.button-arrow::after {
		border-color: white;
	}
}

.button-dark-red {
	background-color: base.$color-secondary-red;
	color: white;
	border: base.$color-secondary-red 1px solid;

	.button-arrow::after {
		border-color: white;
	}
}

.button-dark-red:hover {
	background: none;
	color: white;
	border-color: white;

	.button-arrow::after {
		border-color: white;
	}
}

.button-white {
	color: white;
	border: white 1px solid;

	.button-arrow::after {
		border-color: white;
	}
}

.button-white:hover {
	background: black;
	color: white;
	border-color: black;

	.button-arrow::after {
		border-color: white;
	}
}

.button-gray {
	background-color: base.$color-primary-gray;
	border: 0;
}

.button-arrow {
	width: 0.3rem;
	height: 0.6rem;
	overflow: hidden;
	position: relative;
}
.button-arrow::after {
	position: absolute;
	content: '';
	border: 1px solid black;
	width: 0.6rem;
	aspect-ratio: 1 / 1;
	transform: rotate(45deg);
	right: 3px;
}

.button-simple {
	border: none;
	padding: 0;
	color: base.$color-primary-orange;
	font-weight: 600;

	.button-arrow::after {
		border-color: base.$color-primary-orange;
	}
}

.button-simple:hover {
	background: none;
	color: base.$color-primary-red;

	.button-arrow {
		margin-left: 0.4rem;
	}

	.button-arrow::after {
		border-color: base.$color-primary-red;
	}
}

.backButtonContainer {
	grid-column: span 12;
	font-size: 0.8rem;
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

.button-back {
	padding: 0;
	border: none;
	font-size: 0.8rem;
	margin-bottom: calc(base.$gap / 2);

	.button-arrow::after {
		left: 3px;
	}
}

.button-back:hover {
	background: none;
	color: base.$color-primary-orange;

	.button-arrow::after {
		border-color: base.$color-primary-orange;
	}
}

// mobile

@media screen and (max-width: 768px) {
	.buttons-row {
		flex-direction: column;
	}
}
