@use 'base';

.dashboardHeader {
	grid-column: span 12;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.cardsContainer {
	grid-column: span 12;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.card {
	display: grid;
	grid-column: span 12;
	grid-template-columns: repeat(12, 1fr);
	background-color: base.$color-primary-gray;
}

.cardPhoto {
	grid-column: span 3;
	height: 100%;
	position: relative;
	cursor: pointer;
}

.cardContent {
	grid-column: span 9;
	padding: base.$gap;
}

.cardTitle {
	display: flex;
	justify-content: space-between;
	margin-bottom: calc(base.$gap / 2);

	h4 {
		cursor: pointer;
	}

	h4:hover {
		color: base.$color-primary-orange;
	}
}

.cardButtons {
	display: flex;
	gap: calc(base.$gap / 3);
}

.cardText {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 3);
}

.projectHighlights {
	grid-column: span 8;
	display: flex;
	flex-wrap: wrap;
	gap: base.$gap;
	align-items: flex-start;
}

// open project
.openProject {
	grid-column: span 12;
}

.openProjectTitle {
	margin-bottom: calc(base.$gap / 2);
	display: flex;
	justify-content: space-between;
}

.openProjectContent {
	grid-column: span 12;
	width: 100%;
	max-width: 100%;
}

.donorsList {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);
}

.donorCard {
	display: flex;
	gap: base.$gap;
	align-items: center;
	flex-wrap: wrap;
}

.donorCardHeader {
	display: flex;
	align-items: center;
	gap: calc(base.$gap / 3);
}

.donorCardPhoto {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: base.$gap;
	aspect-ratio: 1 / 1;
}

.donorCardPledges {
	display: flex;
	gap: calc(base.$gap / 2);
}

// Pledge card specific
.pledges {
	display: flex;
	gap: calc(base.$gap / 2);
	flex-wrap: wrap;
	justify-content: space-between;

	div {
		h4 {
			color: base.$color-primary-orange;
		}
	}
}

// Donor's Profile
.donorProfileTitleSection {
	grid-column: span 12;
	display: flex;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	justify-content: space-between;
	margin-bottom: base.$gap;
}

.donorTitle {
	display: flex;
	align-items: center;
	gap: calc(base.$gap / 2);
}

.donorPhoto {
	position: relative;
	width: 8rem;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	overflow: hidden;
}

.donorProfileColumn {
	grid-column: span 2;
	margin-bottom: base.$gap;

	h5 {
		margin-bottom: calc(base.$gap / 3);
	}
}

// NGO Profile

// tablet

@media screen and (max-width: 1024px) {
	.cardPhoto {
		grid-column: span 12;
		aspect-ratio: 16/9;
	}

	.cardContent {
		grid-column: span 12;
		padding: calc(base.$gap / 2);
	}

	.donorCardPledges {
		display: none;
	}

	.donorProfileColumn {
		grid-column: span 4;
	}
}

// mobile

@media screen and (max-width: 768px) {
	.dashboardHeader {
		flex-direction: column;
		justify-content: baseline;
		gap: calc(base.$gap / 3);

		* {
			width: fit-content;
		}
	}

	.cardTitle {
		flex-direction: column-reverse;
		gap: calc(base.$gap / 4);
	}

	.projectHighlights {
		flex-direction: column;
		gap: calc(base.$gap / 3);
	}

	.openProjectTitle {
		flex-direction: column-reverse;
		gap: calc(base.$gap / 4);
	}

	.donorProfileTitleSection {
		align-items: start;
	}

	.donorTitle {
		h3 {
			font-size: 1.4rem;
		}
	}

	.profileTitleButtons {
		display: none;
	}

	.donorProfileColumn {
		grid-column: span 12;
	}
}
