@use 'base';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.3s;
}

// Text

h1 {
	font-size: 4.625rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	line-height: 1.5rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	width: fit-content;
}

// Text Color

.red {
	color: base.$color-primary-red;
}

.orange {
	color: base.$color-primary-orange;
}

.dark-red {
	color: base.$color-secondary-red;
}

.dark-orange {
	color: base.$color-secondary-orange;
}

.white {
	color: white;
}

// forms

input,
textarea,
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
	outline: none;
	box-shadow: none;
	border-radius: 5px;
	border: 1px solid base.$color-secondary-red;
	padding: calc(base.$gap / 6) calc(base.$gap / 4);
}

input[type='file'] {
	border: 0;
	padding: 0;
	font-size: 0.8rem;
}

input[type='file']::-webkit-file-upload-button {
	font-size: 0.8rem;
	border: 0;
	cursor: pointer;
}

// cards

.card {
	grid-column: span 3;
}

.card-photo {
	width: 100%;
	aspect-ratio: 1 / 1;
	position: relative;
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 6);
	margin: calc(base.$gap / 3) 0;
	color: black;
	text-decoration: none !important;
}

.subtitle {
	font-size: 0.875rem;
}

.pages-hero-content {
	h1 {
		color: base.$color-secondary-orange !important;
	}
}

// tablet

@media screen and (max-width: 1024px) {
	.card {
		grid-column: span 6;
	}
}

// mobile

@media screen and (max-width: 768px) {
	h1 {
		font-size: 2.25rem;
	}

	.card {
		grid-column: span 12;
	}
}
