@use 'base';

// Login & Main Register Page
.authContainer {
	grid-column: 5 / 9;

	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: calc(base.$gap / 3);

		input {
			width: 100%;
			grid-column: span 1;
		}
	}
}

.loginButtons {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.registerButtons {
	button {
		width: 100%;
		margin-bottom: calc(base.$gap / 4);
		display: flex;
		justify-content: center;
	}
}

.error {
	grid-column: span 2;
	color: base.$color-primary-red;
}

// Donor & NGO Registration
.description {
	grid-column: span 12;
}

.form {
	display: grid;
	grid-column: span 12;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: calc(base.$gap / 4);

	input,
	select {
		grid-column: span 3;
	}

	.twoColumnInput {
		grid-column: span 6;
	}

	textarea, {
		grid-column: span 12;
		grid-row: span 2;
	}

	button {
		width: fit-content;
		grid-column: span 12;
	}
}

.quillbox {
	grid-column: span 12;
	grid-row: span 5;
	display: flex;
}

.quillboxInput {
	height: 80%;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.uploadFile {
	grid-column: span 3;
	overflow: hidden;

	p {
		font-size: 0.8rem;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 1rem;
	}
}

// tablet

@media screen and (max-width: 1024px) {
	.form {
		input,
		select {
			grid-column: span 6;
		}
	}

	.uploadFile {
		grid-column: span 6;
	}
}

// mobile

@media screen and (max-width: 768px) {
	.authContainer {
		grid-column: span 12;

		form {
			input {
				grid-column: span 2;
			}
		}
	}

	.form {
		input,
		select,
		.twoColumnInput {
			grid-column: span 12;
		}
	}

	.uploadFile {
		grid-column: span 12;
	}
}
