@use 'base';


.playerContainer {
	float: right;
	width: 400px;
	background-color: antiquewhite;
	height: fit-content;
	padding: 10px;
	margin-right: 3%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 4);
	align-items: center;
	border-radius: 0.4rem;

	h3 {
		margin-bottom: -0.7rem;
	}
}

.notrans * {
	transition: none !important;
}


.descriptionText {
	width: 90%;
	margin: 0 auto;
	text-align: justify;
}

// spotify, apple, youtube buttons

.buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 95%;
	height: 2.75rem;
	gap: 0.75rem;
}

.iconButton {
	border: none;
	cursor: pointer;
	appearance: none;
	padding: 0;
}

.iconButton:hover {
	background: unset;
}

.disabled {
	opacity: 60%;
	cursor: not-allowed;
}

.iconImage {
	height: 100%;
}


// old things
.headText {
	position: relative;
	width: fit-content;
}

.imageText {
	position: absolute;
	top: 5%;
	left: 7%;
	right: 7%;
	bottom: 30%;
	text-align: center;
	margin: auto;
}

.speechContainer {
	position: absolute;
	top: 20%;
	right: 40%;
	transform: translate(100%, -100%);
	z-index: 99;
}

.overallContainer {
	grid-column: span 3;
	position: relative;
}
// end old things


@media screen and (max-width: 768px) {
	.mobileHidden {
		color: blue;
	}
	.mobileMain {
		width: 87%;
	}

	.buttonRow {
		display: flex;
		margin: 0.9rem auto;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		height: 3.5rem;
		gap: 3rem;
	}
}

