@use 'base';


.playerContainer {
	float: right;
	width: 30%;
	background-color: antiquewhite;
	height: fit-content;
	padding: 10px;
	margin-right: 3%;
	text-align: center;
}

.descriptionText {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

// old things
.headText {
	position: relative;
	width: fit-content;
}

.imageText {
	position: absolute;
	top: 5%;
	left: 7%;
	right: 7%;
	bottom: 30%;
	text-align: center;
	margin: auto;
}

.speechContainer {
	position: absolute;
	top: 20%;
	right: 40%;
	transform: translate(100%, -100%);
	z-index: 99;
}

.overallContainer {
	grid-column: span 3;
	position: relative;
}
